header,
.page,
footer {
  min-height: 200px;
  background: grey;
}


.menu {
    min-height: 200px;
    display: inline-block;
    background: blue;
    width: 30%;
}

.content {
    min-height: 200px;
    display: inline-block;
    background: rgb(211, 211, 211);
    width: 70%;
}

@media (width <= 600px) {
    .page{
        display: block;
    }
    .content{
        width: 100%;
        background: rgb(65, 156, 65);
    }
    .menu {
        width: 100%;
      background: yellow;
    }
}

@media (601px <= width <= 1199px) {
    .menu {
      background: red;
    }
    .content {
      background: pink;
    }
  }